body {
  background-color: dimgrey;
  .container {
    width: 100%;
    height: 100%;

    .btn:hover{
      transform: scale(1.1);
    }

    .inText {
      width: 287px;
      height: 100px;
      margin: 5px 0 5px 1px;
      border-radius: 5px;
      position: relative;
      border: none;
    }

    .disVal{
      position: absolute;
      top: 23px;
      left: 88px;
      border: none;
      background-color: white;
    }

    .btnKey {
      width: 64px;
      height: 50px;
      margin: 5px;
      border-radius: 20%;
    }

    .btnKeyEq {
      width: 64px;
      height: 50px;
      margin: 5px;
      border-radius: 20%;

    }

    .btnKeyEq:hover {
      transform: scale(1.1);
      border: none;
      background-color: green;
    }

    .btnKey:nth-child(4):hover {
      background-color: red;
      transform: scale(1.1);
    }

    .btnKey:hover {
      background-color: aquamarine;
      transform: scale(1.1);
      border: none;
      //transform: rotate(360deg);
    }

    .clean {
      width: 46px;
      text-align: center;
      margin: 5px 12px 5px 3px;
      padding: 0 auto;
    }
    //.clean:hover{
    //  transform: scale(1.1);
    //}

    .clean:last-child {
      width: 100px;
      margin: 5px 0 5px 5px;
      padding: 0 auto;
    }

    .cleanAll{
      width: 46px;
      margin: 5px 12px 5px 3px;
      padding: 0 auto;
    }
  }
}
